* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header {
  background-color: #3f444f;
  color: white;
  border-bottom: #a84e80 solid 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
}
header span {
  color: #a84e80;
}
header ul {
  display: flex;
  gap: 1rem;
}
header a {
  color: white;
}
header a#home {
  color: #a84e80;
}
section.foto {
  background-image: url(./img/showcase.jpg);
  height: 40vh;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
section.foto h1 {
  font-size: 2.5rem;
}
section.mail {
  background-color: #3f444f;
  color: white;
  padding: 1.4rem;

  display: flex;

  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 5.875rem;
}
button {
  padding: 0.3rem;
  color: white;
  background-color: tomato;
}
button:hover {
  color: tomato;
  background-color: white;
  /* font-weight: bold; */
}
section.mail form input {
  padding: 0.3rem;
}
section.logo {
  display: flex;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  height: 40vh;
  /* border-bottom: 1px solid; */
}
section.logo img{
  width: 20%;

}
section.about {
  display: flex;
  padding: 2rem;
  /* margin: auto; */
  /* margin-top: 1rem;    */
  /* text-align: center; */
  height: 83vh;
  gap: 5rem;
  /* border-bottom: solid 1px; */
}
section.about div.dark,
div.right {
  color: white;
  background-color: #3f444f;
  padding: 1rem;
}

section.services {
  /* margin-top: -1rem; */
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  height: 100vh;
  gap: 5rem;
  /* border-bottom: solid 1px; */
}
section.services div.design,
div.maintance,
div.hosting {
  border: 1px solid;
  margin-top: 0.3rem;
  padding: 1rem;
  background-color: #d3d3d35b;
}
section.services form {
  background-color: #3f444f;
  color: white;
  border: solid 1px;
  padding: 1rem;
  /* width: 20rem; */
}

section.services table input,
textarea {
  width: 15rem;
}

footer {
  background-color: #3f444fe5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  width: 100%;
}

